body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #343a40;
    font-family: sans-serif;
    font-size: 1rem;
    /* perspective: 600px; */
}

* {
  box-sizing: border-box;
}
  
:root {
  --plane-width: 50vmin;
  --plane-depth: 50vmin;
  --cuboid-width: 20vmin;
  --cuboid-height: 20vmin;
  --cuboid-depth: 20vmin;
  --rotate-x: 30deg;
  --rotate-y: 30deg;
}

.container {
  transform-style: preserve-3d;
  position: relative;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuboid {
  height: var(--cuboid-height);
  width: var(--cuboid-width);
  position: relative;
  transform-style: preserve-3d;
}

.animate-bounce {
  animation: bounce 1s ease infinite;
}

.animate-spin {
  animation: spinner 8s ease-in infinite;
}

.animate-rotate {
  animation: rotate 10s ease infinite;
}

.cuboid:hover {
  animation: none;
}

/* Internal plane inside cuboid */
.cuboid::before,
.cuboid::after {
  content: 'plane';
  height: 200%;
  width: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 1px dashed red;
}

.cuboid__plane-off:before,
.cuboid__plane-off::after {
  display: none;
}

/* right plane inside cuboid */
.cuboid::before {
  transform: translate(-50%, -50%) rotateY(90deg)
}

.cuboid__side {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 1px solid hsl(0, 0%, 10%);
  position: absolute;
  height: var(--cuboid-height);
  width: var(--cuboid-width);
  transform: translate3d(0, 0, calc(var(--cuboid-depth) * var(--coefficient)))
}

/*nth-of-type(1) is back face*/
.cuboid__side:nth-of-type(1){
  --coefficient: var(--exploded-coefficient, 0.5);
}

/*nth-of-type(2) is front face */
.cuboid__side:nth-of-type(2){
  --coefficient: calc(var(--exploded-coefficient, 0.5) * -1);
}

.cuboid__side:nth-of-type(3),
.cuboid__side:nth-of-type(4){
  height: var(--cuboid-height);
  width: var(--cuboid-depth);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotation)) translate3d(0, 0, calc(var(--cuboid-width) * var(--coefficient)))
}

/*nth-of-type(3) is left face*/
.cuboid__side:nth-of-type(3){
  --rotation: 90deg;
  --coefficient: calc(var(--exploded-coefficient, 0.5) * -1);
  
}

/*nth-of-type(4) is right face*/
.cuboid__side:nth-of-type(4){
  --rotation: -90deg;
  --coefficient: calc(var(--exploded-coefficient, 0.5) * -1);
}


.cuboid__side:nth-of-type(5),
.cuboid__side:nth-of-type(6){
  height: var(--cuboid-depth);
  width: var(--cuboid-width);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(var(--rotation)) translate3d(0, 0, calc(var(--cuboid-height) * var(--coefficient)));
}

/*nth-of-type(5) is top face*/
.cuboid__side:nth-of-type(5){
  --rotation: -90deg;
  --coefficient: calc(var(--exploded-coefficient, 0.5) * -1);
}

/*nth-of-type(6) is bottom face*/
.cuboid__side:nth-of-type(6){
  --rotation: 90deg;
  --coefficient: calc(var(--exploded-coefficient, 0.5) * -1);
}

.exploded .cuboid__side{
  --exploded-coefficient: 0.8;
}

.base_plane {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--plane-depth);
  width: var(--plane-width);
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  position: absolute;
  transform: rotateX(-90deg) translate3d(0, 0, calc(var(--cuboid-height) * 0.5));;
}

.base_plane::before {
  content: 'base';
  z-index: 10;
  background: white;
  padding: 10px;
  left: 0;
  bottom: 0;
  position: absolute;
}

.base_plane::after {
  content: 'Design By: Ryan Goh';
  z-index: 10;
  background: white;
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
}

.base__hidden {
  display: none
}

.input-content {
  background: #555;
  padding: 10px;
  border: 1px solid #888;
  color: white;
  border-radius: 10px;
  flex-wrap: wrap;
}

.input-controls-bottom {
  bottom : 5%;
  position: absolute;
}

.input-controls {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

input[type='number']{
  border-radius: 3px;
  padding: 5px;
  border: transparent;
}

.btm-shadow::after {
  width: 100%;
  height: 100%;
  content: '';
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  box-shadow: 0 0 60px 20px #111;
}

@keyframes bounce {
  50% {
      transform: translateY(-10px);
  }
}

@keyframes spin {
  0% { transform: rotateX(0) rotateY(0);}
  50% { transform: rotateX(180deg) rotateY(180deg);}
  100%   { transform: rotateX(360deg) rotateY(360deg);}
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(-55deg) rotateY(46.5deg);
  }

  100% {
    transform: rotate(0deg) rotateX(-415deg) rotateY(406.5deg);
  }
}

@keyframes spinner2 {
  0% {
    transform: rotate(0deg) rotateX(-55deg) rotateY(46.5deg);
  }

  50% {
    transform: rotate(90deg) rotateX(-415deg) rotateY(46.5deg);
  }

  100% {
    transform: rotate(0deg) rotateX(-415deg) rotateY(406.5deg);
  }
}
@keyframes spinner3 {
  0% {
    transform: rotate(45deg) rotateX(0) rotateY(0);
  }
  
  50% {
    transform: rotate(0deg) rotateX(-144deg) rotateY(226.5deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-360deg) rotateY(360deg);
  }
}


@-webkit-keyframes rotate {
  0%, 10% {-webkit-transform: rotateY(0deg) rotateX(0deg);transform: rotateY(0deg) rotateX(0deg);}
  15%, 20% {-webkit-transform: rotateY(180deg) rotateX(0deg);transform: rotateY(180deg) rotateX(0deg);}
  25%, 35% {-webkit-transform: rotateY(180deg) rotateX(270deg);transform: rotateY(180deg) rotateX(270deg);}
  40%, 50% {-webkit-transform: rotateY(180deg) rotateX(90deg);transform: rotateY(180deg) rotateX(90deg);}
  55%, 65% {-webkit-transform: rotateY(-90deg) rotateX(90deg);transform: rotateY(-90deg) rotateX(90deg);}
  70%, 80% {-webkit-transform: rotateY(90deg) rotateX(90deg);transform: rotateY(90deg) rotateX(90deg);}
  90%, 95% {-webkit-transform: rotateY(0deg) rotateX(90deg);transform: rotateY(0deg) rotateX(90deg);}
 }

 @keyframes rotate {
  0%, 10% {-webkit-transform: rotateY(0deg) rotateX(0deg);transform: rotateY(0deg) rotateX(0deg);}
  15%, 20% {-webkit-transform: rotateY(180deg) rotateX(0deg);transform: rotateY(180deg) rotateX(0deg);}
  25%, 35% {-webkit-transform: rotateY(180deg) rotateX(270deg);transform: rotateY(180deg) rotateX(270deg);}
  40%, 50% {-webkit-transform: rotateY(180deg) rotateX(90deg);transform: rotateY(180deg) rotateX(90deg);}
  55%, 65% {-webkit-transform: rotateY(-90deg) rotateX(90deg);transform: rotateY(-90deg) rotateX(90deg);}
  70%, 80% {-webkit-transform: rotateY(90deg) rotateX(90deg);transform: rotateY(90deg) rotateX(90deg);}
  90%, 95% {-webkit-transform: rotateY(0deg) rotateX(90deg);transform: rotateY(0deg) rotateX(90deg);}
 }